@font-face {
	font-family: 'frangot';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
    font-family: 'frangot', Arial, sans-serif;
}

nav{
    width: 100%;
    height: 60px;
    background: #2a3e51;    
    position: fixed;
    z-index: 5;
}

.logo{
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    float: left;  
    -webkit-animation: comming ease 2s;
    -o-animation: comming ease 2s;
    animation: comming ease 2s;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    margin-right: 42px;
    text-transform: uppercase;
    opacity: 0;
    -webkit-animation: right_nav 1.5s ease  forwards;
    -o-animation: right_nav 1.5s ease forwards;
    animation: right_nav 1.5s ease forwards;
}

.fon-main{
    width: 100%;
    height: 100%;
    background: url(../img/%D0%9F%D0%B0%D1%80%D0%B5%D0%BD%D1%8C.png) 90% 100%/auto 85% no-repeat , url(../img/%D1%84%D0%BE%D0%BD.jpg) center/cover no-repeat;
}

.title_container{
    float: left;
    color: #2c384a;
    text-align: center;
  opacity: 0;
    -webkit-animation: left_main 1.2s ease  forwards;
    -o-animation: left_main 1.2s ease forwards;
    animation: left_main 1.2s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
}

.title_container h1{
    font-size: 79.17px;
    font-weight: 600;
    width: 100%;
}

.title_container h4{
    font-size: 20.83px;
    margin-top: 38px;
    color: #79818d;
}

.title_container input{
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 18.82px;
    padding: 0 14px;
    margin: 53px 13px 0px 13px;   
}
.my{
    width: 100%;
    height: 100%;
    background-image: url(../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg);
    text-align: center;
    float: left;
}
.my h2{
    margin: 112px 0px 0px 0px;
    font-size: 33.33px;
    font-weight: 600;
    color: #263244;
    text-decoration: underline #d17700 ;
}
.my{
      -webkit-animation: my_bottom 2s ease  forwards;
    -o-animation: my_bottom 2s ease forwards;
    animation: my_bottom 2s ease forwards;
}
.my img{
    margin-top: 97px ;
}
.my p{
    margin-top: 28px ;
    font-size: 17.67px;
    color: #3f495a;
    font-family: caibri;
}
.my input{
    margin: 12px auto;
    height: 31px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    color: #6f707e;
    font-size: 16.67px;
    padding: 0 13px;
    
}

.skill{
   width: 100%;
    height: 70%;
    background-image: url(../img/%D1%84%D0%BE%D0%BD%20%D1%83%D0%BC%D0%B5%D0%BD%D0%B8%D1%8F.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
}

.skill h2{
    
    margin-top: 107px;
    font-size: 33.33px;
    color: #263244;
    font-weight: 600;
    text-decoration: underline #d17700 ;
}
.items{
    margin-top: 120px;
} 
.items div{
    text-align: center;
}
.pusk h4{
    font-size: 18.58px;
    color: #cf7600;
    margin-top: 35px;
    font-weight: 600;
}
.pusk p{
    font-size: 16.67px;
    color: #3f495a;
    margin-top: 20px;
}
.keis{
    -webkit-animation: my_bottom 2s ease  forwards;
    -o-animation: my_bottom 2s ease forwards;
    animation: my_bottom 2s ease forwards;
}
.keis_top h2{
    text-align: center;
    font-size: 33.33px;
    color: #384354;
    font-weight: 600;
    text-decoration: underline #d17700 ;
}
.keis_top h4{
    text-align: center;
    font-size: 16.67px;
    margin-top: 50px;
    color: #3f495a;
}
.keis img{
    margin-top: 30px;
    width: 80%;
}
.keis_text{
    -webkit-animation: my_bottom 2s ease  forwards;
    -o-animation: my_bottom 2s ease forwards;
    animation: my_bottom 2s ease forwards;
}
.keis_left{
    line-height: 20px;
}
.text_top{
    font-size: 17px;
    color: #384354;
    font-weight: 600;
}
.text_bottom{
    font-size: 14px;
    color: #3f495a;
    line-height: 20px; 
}
.text_botto{
    font-size: 14px;
    color: #3f495a;
    line-height: 20px; 
    margin-bottom: 25px;
}
.sait a{
    padding: 7px 25px;
    border: 2px solid #63b5ae;
    border-radius: 5px;
    font-size: 13px;
    background-color: #63b5ae;
    text-align: center;
    color: #fff;
}
.opt{
    text-align: center;
}
.opt2{
    border: solid 1px #e1e1e1;
    box-shadow: 0 0 15px #e1e1e1;
    margin: 20px 0px;
    margin-left: 7%;
    margin-right: 7%;
    padding: 3% 5%;
}
.opt_top{
    font-size: 45px;
    color: #1c2534;
    font-weight: 900;
    -webkit-animation: my_bottom 2s ease  forwards;
    -o-animation: my_bottom 2s ease forwards;
    animation: my_bottom 2s ease forwards;
}
.opt h3{
    font-size: 29px;
    color: #1c2534;
    margin-top: 48px;
    font-weight: 600;
}
.luks{
    text-align: left;
} 
select{
    background-color: #eeeeee;
    padding: 17px 0px;
    margin-top: 28px;
}
.zaiavka{
     padding: 7px 25px;
    border: 2px solid #00b6af;
    border-radius: 5px;
    font-size: 15px;
    background-color: #00b6af;
    text-align: center;
    color: #fff;
}
.statistics{
    width: 100%;
    height: 60%;
    background-image: url(../img/%D1%84%D0%BE%D0%BD%20%D1%81%D1%82%D0%B0%D1%82%D0%B8%D1%81%D1%82%D0%B8%D0%BA%D0%B0.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}
.items{
    transform-style:preserve-3d;
}
.statistics_top{
    text-align: center;
    margin: 105px 0px 0px 0px;
    font-size: 33.33px;
    color: #384354;
    font-weight: 600;
    text-decoration: underline #d17700;
}
.item_statistics h4{
    font-size: 25px;
    color: #323e4f;
    margin-top: 42px;
    font-weight: 900;
}
.item_statistics p{
    font-size: 16.67px;
    color: #3f495a;
    margin-top: 20px;
    font-weight: 600;
}
.comment{
  text-align: center;
    height: 70%;
    -webkit-animation: my_bottom 2s ease  forwards;
    -o-animation: my_bottom 2s ease forwards;
    animation: my_bottom 2s ease forwards;
}
.comment h2{
    text-align: center;
    margin-top: 600px;
    font-size: 33.33px;
    color: #384354;
    font-weight: 600;
    text-decoration: underline #d17700;
}
.comment img{
    margin-top: 100px;
}
.comment h4{
    margin-top: 40px;
    font-size: 16px;
    color: #3e4755;
}
.contacts{
    width: 100%;
    height: 100%;
    background-image: url(../img/%D0%A4%D0%BE%D0%BD%20%D0%BA%D0%BE%D0%BD%D1%82%D0%B0%D0%BA%D1%82%D1%8B.jpg);
    float: left;
    color: #ffffff;
    background-position: center;
}
.contacts{
    text-align: center
}
.contacts h2{
    text-align: center;
    margin-top: 50px;
    font-size: 33.33px;
    font-weight: 600;
    text-decoration: underline #d17700;
    text-transform: uppercase;
}
.contacts h4{
    text-align: center;
    margin-top: 71px;
    font-size: 14px;
}
.items2{
    margin-top: 50px;
    text-align: center;
    line-height: 20px;
}
.items_contacts{
     float: left;
    
}
.items_contacts h4{
    text-align: center;
     width: 160px;
    font-size: 16px;
    margin-top: 20px;
}
.contacts h3{
    margin-top: 20px;
    font-size: 20px;
   
    font-weight: 600;
}
.conname{
  margin-top: 40px;
    margin-bottom: 20px;
}
.ni{
    width: 354px;
    height: 34px;
     background-color:rgba(210, 214, 220, 0.8);
    margin-right: 25px;
}
.ei{
   width: 354px;
    height: 34px; 
    background-color:rgba(210, 214, 220, 0.8);
}
.conmasseng{
    background-color:rgba(210, 214, 220, 0.8);
    width: 733px;
    height: 94px; 
    text-align: center;
    margin-bottom: 20px;
}
.data_end{
    border: 3px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px;
    background-color:rgba(210, 214, 220, 0);
    text-align: center;
}
.map{
     height: auto;
    width: 100%;
}
footer{
    width: 100%;
    height: 100px;
    background: #354051; 
}
.end2{
    color: #ffffff;
    font-size: 13.33px;
    margin-top: 43px;
    float: left; 
    text-align: center;
}
.menu li a{
    color: #fff;
    transition: all 0.2s;
    transform: scale(1);
    display: inline-block; 
    text-decoration: none;
}
.menu li a:hover{
    color: #d17700;
}
.menu li a:active{
     transform: scale(1.1)
}
main{
    height: 100%;
    width: 100%;
}
.title_container input{
    transition: all 0.2s;
    transform: scale(1)
}
.title_container input:active{
    transform: scale(1.1)
}
.title_container input:hover{
    background: #354051;
    color: white;
}
@keyframes comming{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes right_nav{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(1){
    animation-delay: 0.4s;
}
.menu li:nth-child(2){
    animation-delay: 0.8s;
}
.menu li:nth-child(3){
    animation-delay: 1.2s;
}
.menu li:nth-child(4){
    animation-delay: 1.6s;
}
.menu li:nth-child(5){
    animation-delay: 2s;
}
.menu li:nth-child(6){
    animation-delay: 2.4s;
}
@keyframes left_main{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.my input{
     transition: all 0.2s;
}
.my input:hover{
    background:  #6f707e;
    color: #fff;
}
@keyframes my_bottom{
    from{
        opacity: 0
    }
    to{
        opacity: 1
    }
}
.luks2 h3{
    -webkit-animation: left_opt 2s ease  forwards;
    -o-animation: left_opt 2s ease forwards;
    animation: left_opt 2s ease forwards;
}
select{
    -webkit-animation: right_opt 2s ease  forwards;
    -o-animation: right_opt 2s ease forwards;
    animation: right_opt 2s ease forwards;
}
@keyframes left_opt{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
@keyframes right_opt{
    from{
        opacity: 0;
        padding-right: 0px;
        margin-left: -1000px;
    }
    to{
        opacity: 1;
    }
}
.preloader{
   position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
  z-index: 1001;
}
.preloader__row{
    border: 3px solid grey;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    top: 45%;
    left: 45%;
    box-shadow: 0 -2px 2px rgba(0,0,0,.2);
    border-bottom: 5px solid #6ddfca;
    animation: loader 3s linear infinite;
}
.preloader__item{
    border: 3px solid grey;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    position: relative;
    top: 5%;
    left: 5%;
    box-shadow: 0 -2px 2px rgba(0,0,0,.2);
    border-bottom: 5px solid #d355be;
    animation: loader 2.5s linear infinite;
}
.preloader__etem{
    border: 3px solid grey;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    position: relative;
    top:6%;
    left: 6%;
    box-shadow: 0 -2px 2px rgba(0,0,0,.2);
    border-bottom: 5px solid #8c23ec;
    animation: loader 2s linear infinite;
}
@keyframes loader
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);

  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
    display: none;
}
@media (max-width: 991px){
  .title_container, .title_container h4, .title_container input {
    color: white;
    position: relative;
    z-index: 3;
}
    .title_container input{
         border: 2px solid #fff;
    }
    .main{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        background:rgba(0, 0, 0, 0.4);
    }
}
@media (max-width: 767px){
    .lol{
        opacity: 0;
        transition: 0.1s;
    }
    .lil:hover~ .lol{
        opacity: 1;
        transition: 0.1s;
    }
    .skill h2{
        margin-top: 0px;
    }
    .item_skill{
        margin-top: -100px;
    }
    .contacts h4, .contacts h2, .items2{
        margin-top: 25px;
    }
    .my img, .my h2{
        margin-top: 10px;
    }
    .conmasseng{
        width: 380px;
    }
    .ni, .ei{
        width: 175px;
    }
}